@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mainfont';
  src: url('../fonts/comfortaa-regular-webfont.woff2') format('woff2'),
  url('../fonts/comfortaa-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lightfont';
  src: url('../fonts/Comfortaa Light V2.woff2') format('woff2'),
  url('../fonts/Comfortaa Light V2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aquatico';
  src: url('../fonts/aquatico-regular-webfont.woff2') format('woff2'),
  url('../fonts/aquatico-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'daniel';
  src: url('../fonts/daniel_v2-webfont.woff2') format('woff2'),
  url('../fonts/daniel_v2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe Print Bold';
  src: url('../fonts/segoe-print-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}