@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mainfont';
  src: url("../fonts/comfortaa-regular-webfont.woff2") format("woff2"), url("../fonts/comfortaa-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lightfont';
  src: url("../fonts/Comfortaa Light V2.woff2") format("woff2"), url("../fonts/Comfortaa Light V2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aquatico';
  src: url("../fonts/aquatico-regular-webfont.woff2") format("woff2"), url("../fonts/aquatico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'daniel';
  src: url("../fonts/daniel_v2-webfont.woff2") format("woff2"), url("../fonts/daniel_v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe Print Bold';
  src: url("../fonts/segoe-print-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/main.scss */
html, body {
  background: #fff;
  height: 100%;
  color: #131313;
  font-family: 'raleway';
}

/* line 28, ../sass/main.scss */
body {
  overflow-x: hidden;
}

/* line 32, ../sass/main.scss */
a {
  text-decoration: none;
  outline: 0;
}

/* line 37, ../sass/main.scss */
#intro {
  height: 100%;
  background: url("../images/header.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'daniel';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 6;
}

/* line 51, ../sass/main.scss */
.nameIntro {
  z-index: 10;
}

/* line 55, ../sass/main.scss */
h1 {
  font-size: 66px;
}

/* line 59, ../sass/main.scss */
.pau {
  margin-top: 70px;
}

/* line 63, ../sass/main.scss */
.jl {
  margin-left: 160px;
  font-size: 36px;
}

/* line 68, ../sass/main.scss */
h2 {
  font-size: 26px;
  padding-bottom: 60px;
  margin: 40px 0 0 0;
  color: #fff !important;
  text-shadow: 0 0 3px #333 !important;
}

/* line 76, ../sass/main.scss */
h1,
h2 {
  z-index: 10;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
  color: #3b3b3c;
}

/* line 83, ../sass/main.scss */
.container {
  margin-top: -60px;
}

/* line 87, ../sass/main.scss */
nav {
  z-index: 2;
  font-family: 'mainfont';
  height: 60px;
  background: rgba(208, 44, 52, 0.8);
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  box-shadow: 1px 1px 0.2em rgba(1, 1, 1, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 98, ../sass/main.scss */
nav.fixed a:first-child {
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  margin-left: 33%;
}

/* line 104, ../sass/main.scss */
nav a {
  color: black;
  font-size: 14px;
  padding: 0 30px;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  border-left: 1px solid rgba(1, 1, 1, 0);
}

/* line 113, ../sass/main.scss */
nav a:hover {
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  color: #fff;
}

/* line 119, ../sass/main.scss */
nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  box-shadow: 1px 1px .2em #ccc;
}

/* line 130, ../sass/main.scss */
nav.fixed a {
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  opacity: 1;
  color: #2C2C2C;
  border-left: 1px solid #2C2C2C;
  padding: 10px 30px;
}

/* line 139, ../sass/main.scss */
nav.fixed a:hover {
  border-color: #E80C20;
  color: #E80C20;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

/* line 146, ../sass/main.scss */
nav.fixed + .content {
  margin-top: 80px;
}

/* line 150, ../sass/main.scss */
.respMenu {
  opacity: .5;
  display: none;
  position: absolute;
  left: 25px;
  top: 15px;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  background: rgba(255, 255, 255, 0) url("../images/menu.png");
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  z-index: 40;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 168, ../sass/main.scss */
.respMenu:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 174, ../sass/main.scss */
#sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;
  background-color: rgba(208, 44, 52, 0.8);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  z-index: 39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 193, ../sass/main.scss */
#sidebar a {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 66px;
  color: #131313;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
/* line 202, ../sass/main.scss */
#sidebar a:hover {
  background-color: #fff;
  color: #E80C20;
}

/* line 209, ../sass/main.scss */
.sidebar {
  -webkit-transform: translateX(200px) !important;
  transform: translateX(200px) !important;
}

/* line 214, ../sass/main.scss */
#scrollTo {
  z-index: 3;
  color: #fff;
  font-family: 'daniel';
  font-size: 18px;
  position: fixed;
  top: -16px;
  left: 100px;
  opacity: 0;
  -webkit-transition: opacity .75s ease, top .75s ease, color .75s ease;
  transition: opacity .75s ease, top .75s ease, color .75s ease;
}

/* line 231, ../sass/main.scss */
.fixed2 {
  top: 20px !important;
  color: #2d2d2d !important;
  opacity: 1 !important;
}

/* line 237, ../sass/main.scss */
#scrollTo:hover {
  color: #E80C20 !important;
}

/* line 241, ../sass/main.scss */
#osef {
  float: left;
  display: none;
}

/* line 246, ../sass/main.scss */
.content {
  padding: 60px 0 20px;
}
/* line 249, ../sass/main.scss */
.content:last-child {
  padding: 60px 0 0;
}

/* line 254, ../sass/main.scss */
.divider {
  height: 220px;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 100px;
  background: url("../images/divider2a.png") center no-repeat;
}

/* line 262, ../sass/main.scss */
.about,
.parcours {
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
}
/* line 268, ../sass/main.scss */
.about p,
.parcours p {
  margin-bottom: 5px;
}
/* line 272, ../sass/main.scss */
.about h4,
.parcours h4 {
  text-align: center;
}

/* line 277, ../sass/main.scss */
.aboutArticle {
  text-align: center;
  font-size: 18px;
  font-family: 'lightfont';
  font-weight: 100;
  max-width: 80%;
  margin: auto;
}
/* line 285, ../sass/main.scss */
.aboutArticle p {
  padding: 5px;
  line-height: 30px;
}

/* line 291, ../sass/main.scss */
h4 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 70px;
  margin-top: 30px;
  color: #d44047;
  font-family: 'lightfont';
}

/* line 300, ../sass/main.scss */
.alt {
  background-color: #f7f7f5;
}

/* line 305, ../sass/main.scss */
.skills {
  text-align: center;
}

/* line 309, ../sass/main.scss */
.comp {
  text-align: center;
  margin-top: 40px;
}

/* line 314, ../sass/main.scss */
.svgContainer {
  width: 70%;
  margin-left: 15%;
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}
/* line 322, ../sass/main.scss */
.svgContainer:last-child {
  padding-bottom: 120px;
}

/* line 327, ../sass/main.scss */
.animation-element {
  width: 120px;
  background: #f7f7f5;
  opacity: 0;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
}

/* line 337, ../sass/main.scss */
.in-view {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
}

/* line 345, ../sass/main.scss */
.realisation h4 {
  text-align: center;
}

/* line 349, ../sass/main.scss */
.imageContainer {
  width: 70%;
  margin-left: 15%;
}

/* line 354, ../sass/main.scss */
.imgCont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
/* line 360, ../sass/main.scss */
.imgCont div {
  height: 400px;
  width: 250px;
}

/* line 366, ../sass/main.scss */
.img {
  margin: 10px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: inline-block;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #333;
}
/* line 376, ../sass/main.scss */
.img:hover {
  opacity: .6;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 381, ../sass/main.scss */
.img:hover p {
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}
/* line 388, ../sass/main.scss */
.img div {
  opacity: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50%;
  margin: 30% 0;
  padding: 10% 0;
  border-radius: 15px;
}
/* line 401, ../sass/main.scss */
.img div:hover {
  opacity: .8;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
/* line 408, ../sass/main.scss */
.img p {
  opacity: 0;
  text-align: center;
  padding: 20px 0;
  font-family: 'mainfont';
  color: #E80C20;
  text-shadow: 0 0 2px #fff;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

/* line 420, ../sass/main.scss */
.img1 {
  background: url("../images/donut.jpg") center;
  background-size: cover;
}

/* line 426, ../sass/main.scss */
.img2 {
  background: url("../images/oneMillion.jpg") center;
  background-size: cover;
}

/* line 431, ../sass/main.scss */
.img3 {
  background: url("../images/undeviating.jpg") center;
  background-size: cover;
}

/* line 436, ../sass/main.scss */
.img4 {
  background: url("../images/obsidian.jpg") center;
  background-size: cover;
}

/* line 441, ../sass/main.scss */
.img5 {
  background: url("../images/obsidian2.jpg") center;
  background-size: cover;
}

/* line 446, ../sass/main.scss */
.img6 {
  background: url("../images/audiotheme.jpg") center;
  background-size: cover;
}

/* line 451, ../sass/main.scss */
.img7 {
  background: url("../images/create.jpg") center;
  background-size: cover;
}

/* line 456, ../sass/main.scss */
.img8 {
  background: url("../images/origami.jpg") center;
  background-size: cover;
}

/* line 461, ../sass/main.scss */
.img9 {
  background: url("../images/pastime.jpg") center;
  background-size: cover;
}

/* line 466, ../sass/main.scss */
footer {
  width: 100%;
  height: 200px;
  background: #2d2d2d;
  text-align: center;
}
/* line 472, ../sass/main.scss */
footer p {
  color: #fff;
  font-family: 'aquatico';
}
/* line 477, ../sass/main.scss */
footer p:first-child:not(:last-child) {
  padding-top: 40px;
  font-size: 30px;
}
/* line 482, ../sass/main.scss */
footer p:last-child {
  padding-top: 10px;
  font-size: 10px;
  -webkit-transition: color .75s ease;
  transition: color .75s ease;
}
/* line 488, ../sass/main.scss */
footer p:last-child:hover {
  color: #E80C20;
}

/* line 494, ../sass/main.scss */
#mail {
  padding-top: 40px;
}

/* line 498, ../sass/main.scss */
.mDown {
  display: none;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: url("../images/sprite.png") 0 0;
  background-size: cover;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
}

/* line 511, ../sass/main.scss */
.mDown:hover {
  background-position: 0 420px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: transform 1s ease;
  transition: transform 1s ease;
}

@media screen and (max-width: 940px) {
  /* line 523, ../sass/main.scss */
  #scrollTo {
    display: none;
  }

  /* line 527, ../sass/main.scss */
  .svgContainer {
    width: 95%;
    margin-left: 2.5%;
  }
}
@media screen and (max-width: 860px) {
  /* line 535, ../sass/main.scss */
  .jl {
    color: #d33c44;
  }

  /* line 539, ../sass/main.scss */
  .mDown {
    display: block;
  }

  /* line 543, ../sass/main.scss */
  nav,
  #scrollTo {
    display: none;
  }

  /* line 548, ../sass/main.scss */
  #sidebar {
    display: flex;
    position: fixed;
    background: #d33c44;
  }

  /* line 554, ../sass/main.scss */
  .respMenu {
    display: block;
    position: fixed;
    z-index: 1200;
  }

  /* line 560, ../sass/main.scss */
  .divider {
    display: none;
  }

  /* line 564, ../sass/main.scss */
  #aPropos {
    padding: 60px 0 60px;
  }

  /* line 568, ../sass/main.scss */
  .svgContainer {
    width: 80%;
    margin: 0 auto;
  }

  /* line 573, ../sass/main.scss */
  .animation-element {
    width: 80px;
  }

  /* line 577, ../sass/main.scss */
  .imageContainer {
    width: 90%;
    margin: 0 0 0 5%;
  }

  /* line 582, ../sass/main.scss */
  .imgCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  /* line 589, ../sass/main.scss */
  .imgCont .img {
    display: flex;
    margin: 20px 0;
  }

  /* line 595, ../sass/main.scss */
  footer {
    height: auto;
  }

  /* line 599, ../sass/main.scss */
  #cv {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 606, ../sass/main.scss */
  #intro {
    background: #fff;
  }

  /* line 610, ../sass/main.scss */
  h1 {
    font-size: 36px;
  }

  /* line 614, ../sass/main.scss */
  h2 {
    font-size: 18px;
  }

  /* line 618, ../sass/main.scss */
  .jl,
  .pau {
    margin: auto;
  }

  /* line 623, ../sass/main.scss */
  .svgContainer {
    width: 100%;
  }

  /* line 627, ../sass/main.scss */
  .animation-element {
    width: 80px;
    background: #f7f7f5;
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .75s ease-out;
    transition: all .75s ease-out;
  }

  /* line 637, ../sass/main.scss */
  .in-view {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .75s ease-out;
    transition: all .75s ease-out;
  }

  /* line 645, ../sass/main.scss */
  .aboutArticle {
    font-size: 20px;
  }
  /* line 648, ../sass/main.scss */
  .aboutArticle p {
    text-align: left;
  }
}
